<li class='list-card'>
  <img
    width='280'
    height='222'
    src='{{image}}'
    alt='{{name}}'
    class='image-product'
  />
  <h2 class='name-product'>{{name}}</h2>
  <p class='card-price'>1 кг
    <span class='kg'>{{price}}грн</span>
  </p>

  <button class='card-button'>
    <span class='basket'></span>
    В кошик
  </button>

</li>