<li class='list-card'>
  {{! <div class='block-img'> }}
  <img
    width='280'
    height='222'
    src='{{image}}'
    alt='{{name}}'
    class='image-product'
  />
  {{! </div> }}

  <h2 class='name-product'>{{name}}</h2>
  <p class='card-price'>
    1 кг
    {{price}}грн
  </p>

  <button class='card__button button'><span>
      {{! <svg class='basket' role='img' aria-label='basket'>
        <use href='./images/sprite.svg#sun'></use>
      </svg> }}
    </span>
    В кошик
  </button>

</li>