.js-product {
  display: block;
}

.list-card-basket {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 5px;
}

.product-line {
  display: flex;
  margin: 10px 0;
  padding: 15px 0;
  font-weight: 600;
  width: 530px;
  justify-content: space-between;
  align-items: center;
}

.unit {
  margin: 5px 30px;
}

.button-progress {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4px;
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  width: 170px;
  height: 33px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 30px;
  border: 1px solid #d6d6d6;
  border-radius: 9px;
  width: 30px;
  height: 30px;
  color: #1d6c1d;
}

.quantity {
  display: flex;
  align-items: center;
}

.remove-cart {
  border: none;

  height: 30px;
  width: 30px;
  background: no-repeat url('../img/2.png');
  right: 180px;
}

.name-product-basket {
  width: 350px;
}
